extends layout

block content
  h1= title
  p Bem-vindo ao #{title}
  a(href='/users') Lista de Apostadores<br>
  a(href='/ranking') Ranking dos Apostadores<br>
  a(href='/palpites/Lobinho') Palpites do Lobinho
