doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    h2 Apostas de #{apostador}
    ul
      each item, index in palpites
        li= item.palp_nr_jogo + ". " + item.palp_time_a_nome + " " + item.palp_time_a_gols + " x " + item.palp_time_b_gols + " " + item.palp_time_b_nome