doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    h2 Apostas de #{apostador}
    ul
      each item, index in palpites
        li= item.PALP_NR_JOGO + ". " + item.PALP_TIME_A_NOME + " " + item.PALP_TIME_A_GOLS + " x " + item.PALP_TIME_B_GOLS + " " + item.PALP_TIME_B_NOME