doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      h1= title
      div
        table
          thead
          tr: th Ranking
            tbody
            each item in ranking
              tr
              td=item.palp_nome_apostador
              td=item.total + " pts"