doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      h1= title
      ul
        each item in ranking
            li= item.PALP_NOME_APOSTADOR + ": " + item.TOTAL + " pts"