doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      h1= title
      ul
        each item in apostadores
            li= item.palp_nome_apostador
